.navbar {
  width: 100%;
  background-color: #F44336;
  color: #ffffff;
  padding: 20px 10%;
  display: flex;
  align-items: initial;
  justify-content: left;
}

.logo {
  font-weight: bold;
}

.nav-pills {
  display: inline-block;
  margin: 0 40px;
}

.nav-pills a {
  list-style: none;
  text-decoration: none;
  color: #F44336;
  padding: 2px 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
}

.sort-form {
  display: inline-block;
  margin-left: 20px;
}

.pill {
  margin-left: 10px;
}

.form-select {
  color: #F44336;
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  border-radius: 5px;
  border-style: none;
  outline: none;
  text-overflow: '';
}

.sort-button {
  color: #F44336;
  background-color: #ffffff;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
  border-style: none;
  outline: none;
  font-weight: bold;
}

.timer {
  padding-left: 15px;
}

.sort-button:hover {
  cursor: pointer;
}

.container-div {
  width: 100%;
}

.display-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner-div {
  display: flex;
}
